    /* Sheet Settings */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .35);
    border-radius: 5px;

}

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .55);
}

body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    padding-left: 15px;
    padding-right: 15px;
}

li {
    text-align: left;
    font-size: 20px;
    padding: 2.5px;
}

.centerFlex {
    display: flex;
    justify-content: center;
}

a {
    color: #d16a40;
}


    /* Sheet Header */
header {
    background: #05143f;
    color: white;
    position: fixed;
    width: 100%;

}

.bannerPicture {
    height: 48px;
    width: 150px;
    margin: auto 0 auto 2px;
    padding: 0;
}

.topMenuFrame,
.viewBox {
    max-width: 1000px;
}

.topMenuFrame {
    align-items: center;
    margin: 0 auto;
}

nav {
    display: none;
    align-items: center;
    margin-left: 50px;
    z-index: 1000;
}

.navItem {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-bottom: 2px solid #67dcfc;
    font: normal normal normal 16px/1.4em worksans-extralight,'work sans',sans-serif;
}

#covid {
    color: #d16a40;
}

.navItem:hover,
#covid:hover,
a:hover {
    color: #67dcfc;
}



/* Main */

main {
    flex: 1;
    /* text-align: center; */
}

.parachuteLogoWrapper {
    padding-top: 60px;
    background-color: #05143f;
    text-align: center;
    width: 100%;
    color: white;
    padding-bottom: 20px;
}

.parachuteLogo {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}



.viewBox {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.bulletList {
    list-style-type: disc;
}

.bulletList li {
    margin-left: 20px;
    padding-left: 0;
}

.stephProfile {
    flex-direction: column;
    margin: 60px auto;
    width: 100%;
    max-width: 800px;
    align-items: center;

}

.stephText {
    padding: 5px;
}

.stephImage {
    height: 365px;
    width: 365px;
}

.blueBox {
    flex-direction: column;
}

.blueBox span {
    max-width: 300px;
    flex-grow: 1;
}

.blueIcon {
    max-height: 150px;
    display: none;
}

.blueText {
    font-size: 26px;
    color: #03a7ff;
    padding: 3px;
    margin: 0;
}

.therapistSelect {
    flex-direction: column;
    margin: 150px 10px 100px;
    align-items: stretch;
}

.therapistSelect a {
    margin: 10px 5px;
    flex-grow: 1;
}

.solidGreenBtn,
input[type="submit"] {
    background-color: #4eff78;
    border: 2px solid #4eff78;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 20px;
    color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]:disabled {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    color: grey;
}

.solidGreenBtn:hover {
    color: white;
}

.hollowGreenBtn {
    background-color: transparent;
    border: 2px solid #4eff78;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px 5px;
    color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hollowGreenBtn:hover {
    color: white;
    background-color: #4eff78;
}

.faq {
    display: inline-block;
}

.needHelp {
    display: block;
    padding: 5px;
    margin: 10px;
}

.faqQuestion {
    margin: 10px 5px 0;
    padding-bottom: 3px;
    text-align: left;
}

.faqAnswer {
    margin: 0 5px 20px;
    padding-left: 35px;
    text-align: left;

}

.formBox {
    border-radius: 20px;
    border: 1px solid #03a7ff;
    background-color: #e7f1f5;
    padding: 15px;
    margin: 10px auto;
    max-width: 600px;
}

.formBox * {
    font-size: 20px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.formBox span {
    padding: 10px;
}

.formBox label {
    font-size: 18px;
}

.formInput {
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #03a7ff;
    font-size: 20px;
    margin: 10px 10px 0;
}

.formLabelBox {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
}

.formLabelBoxTz {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    width: 220px;
}

.formLabelBox input[type=text],
.formLabelBox input[type=email],
.formLabelBox input[type=tel],
textarea,
.formStateWrap input,
.formStateWrap select,
.formDaySchedule input,
#onboardTimezone {
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #03a7ff;
    font-size: 20px;
}

#onboardImage {
    font-size: 16px;
}

.formRadioButton {
    margin-left: 10px;
    color: black;
}

.formRadioLabel {
    display: inline;
    text-align: left;
}

.formStateWrap {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    border-left: 1px solid #03a7ff;
    border-right: 1px solid #03a7ff;
    background-color: white;
    margin: 2.5px auto;
}

.formDaySchedule {
    margin: 10px;
}

.formDaySchedule label:first-of-type {
    display: block;
}

.formDaySchedule input {
    width: 135px;
}

.formCheckbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.formCheckbox + label {
    color: black;
    border: 1px solid #03a7ff;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

.formCheckbox:checked + label {
    color: white;
    background: #03a7ff;
    font-weight: bold;
}

#licenseRadioBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formCheckText {
    font-size: 12px;
    text-align: left;
    color: red;
    margin: 0 0 5px;
    padding-left: 30px;
}

.formCheckTextExplainer {
    font-size: 12px;
    text-align: left;
    color: black;
    margin: 0;
    padding: 0 0 0 20px;
    display: inline;
}

#consentLabel {
    margin: 5px auto;
    max-width: 200px;
}

#onboardTimezone {
    width: 220px;
}

#previewImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 50%;
    border: 2px solid #03a7ff;
  }

  .bold {
      padding: 0;
      margin: 0;
      font-weight: bold;
      display: inline;
  }

  .relative {
      position: relative;
  }

  .whatsThis {
      background-color: #03a7ff;
      font-size: 18px;
      color: white;
      border: 1px solid black;
      border-radius: 5px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      right: 20px;
      margin: 0;
      cursor: help;
      font-weight: bold;
  }

  .whatsThisMessage {
    background-color: #03a7ff;
    font-size: 16px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 24px;
    right: 20px;
    margin: 0;
    z-index: 1000;
    padding: 10px;
    text-align: left;

}

/* Media Queries */

footer {
    background: #05143f;
    color: white;
    text-align: center;
    padding: 15px 0 5px;
    margin: 0;
}

footer p {
    padding: 5px;
    font-size: 12px;
    margin: 0;
}

/* Media Queries */

@media (min-width: 400px) {
    .blueBox {
        flex-direction: row;
    }

}


@media (min-width: 700px) {
    .stephProfile {
        flex-direction: row;
        border-left: 3px solid black;
    }

    nav {
        display: flex;
    }

    .blueIcon {
        display: inline-block;
    }

    .formDaySchedule label:first-of-type {
        display: inline;
    }

    #licenseRadioBox {
        flex-direction: row;
    }

    .therapistSelect {
        flex-direction: row;
    }

    .therapistSelect a {
        max-width: 400px;
    }

    /* .formBox span {
        width: calc(50% - 40px);
        margin: 5px;
    } */

}